<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>12.7cm連装砲B型改二</string>
		<key>secondShip</key>
		<string>夕立改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>12.7cm連装砲B型改二</string>
		<key>secondShip</key>
		<string>夕立改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>12.7cm連装砲B型改二</string>
		<key>secondShip</key>
		<string>夕立改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>12.7cm連装砲B型改二</string>
		<key>secondShip</key>
		<string>綾波改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>12.7cm連装砲B型改二</string>
		<key>secondShip</key>
		<string>綾波改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>12.7cm連装砲B型改二</string>
		<key>secondShip</key>
		<string>綾波改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>10cm高角砲＋高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>10cm高角砲＋高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>10cm高角砲＋高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>10cm高角砲＋高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>14cm連装砲</string>
		<key>secondShip</key>
		<string>夕張</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>14cm連装砲</string>
		<key>secondShip</key>
		<string>夕張</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>阿賀野</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>阿賀野</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>阿賀野</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>能代</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>能代</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>能代</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>能代</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>矢矧</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>矢矧</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>矢矧</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>15.2cm連装砲</string>
		<key>secondShip</key>
		<string>矢矧</string>
	<key>remodelEquipment</key>
	<string>15.2cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>矢矧</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>矢矧</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>矢矧</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>矢矧</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>酒匂</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>酒匂</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>酒匂</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>15.2cm連装砲改</string>
		<key>secondShip</key>
		<string>酒匂</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>15.5cm三連装砲</string>
		<key>secondShip</key>
		<string>最上</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>15.5cm三連装砲</string>
		<key>secondShip</key>
		<string>最上</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>15.5cm三連装砲</string>
		<key>secondShip</key>
		<string>大淀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>15.5cm三連装砲</string>
		<key>secondShip</key>
		<string>大淀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>衣笠</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>衣笠</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>衣笠</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>衣笠</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>衣笠</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>衣笠</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>20.3cm連装砲</string>
		<key>secondShip</key>
		<string>衣笠</string>
	<key>remodelEquipment</key>
	<string>20.3cm(2号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>20.3cm(2号)連装砲</string>
		<key>secondShip</key>
		<string>妙高</string>
	<key>remodelEquipment</key>
	<string>20.3cm(3号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>20.3cm(2号)連装砲</string>
		<key>secondShip</key>
		<string>妙高</string>
	<key>remodelEquipment</key>
	<string>20.3cm(3号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>20.3cm(2号)連装砲</string>
		<key>secondShip</key>
		<string>妙高</string>
	<key>remodelEquipment</key>
	<string>20.3cm(3号)連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>20.3cm(3号)連装砲</string>
		<key>secondShip</key>
		<string>三隈</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>20.3cm(3号)連装砲</string>
		<key>secondShip</key>
		<string>三隈</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>35.6cm連装砲</string>
		<key>secondShip</key>
		<string>扶桑</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>35.6cm連装砲</string>
		<key>secondShip</key>
		<string>扶桑</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>35.6cm連装砲</string>
		<key>secondShip</key>
		<string>扶桑</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>38cm連装砲</string>
		<key>secondShip</key>
		<string>Bismarck</string>
	<key>remodelEquipment</key>
	<string>38cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>38cm連装砲</string>
		<key>secondShip</key>
		<string>Bismarck</string>
	<key>remodelEquipment</key>
	<string>38cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>38cm連装砲</string>
		<key>secondShip</key>
		<string>Bismarck</string>
	<key>remodelEquipment</key>
	<string>38cm連装砲改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>38cm連装砲改</string>
		<key>secondShip</key>
		<string>Bismarck</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>38cm連装砲改</string>
		<key>secondShip</key>
		<string>Bismarck</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>38cm連装砲改</string>
		<key>secondShip</key>
		<string>Bismarck</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲改</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲改</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲改</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲改</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲改</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲改</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>381mm／50 三連装砲改</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>41cm連装砲</string>
		<key>secondShip</key>
		<string>長門</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>41cm連装砲</string>
		<key>secondShip</key>
		<string>長門</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>41cm連装砲</string>
		<key>secondShip</key>
		<string>長門</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>41cm連装砲</string>
		<key>secondShip</key>
		<string>陸奥</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>41cm連装砲</string>
		<key>secondShip</key>
		<string>陸奥</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>41cm連装砲</string>
		<key>secondShip</key>
		<string>陸奥</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>試製46cm連装砲</string>
		<key>secondShip</key>
		<string>大和</string>
	<key>remodelEquipment</key>
	<string>46cm三連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>試製46cm連装砲</string>
		<key>secondShip</key>
		<string>大和</string>
	<key>remodelEquipment</key>
	<string>46cm三連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>試製46cm連装砲</string>
		<key>secondShip</key>
		<string>武蔵</string>
	<key>remodelEquipment</key>
	<string>46cm三連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>試製46cm連装砲</string>
		<key>secondShip</key>
		<string>武蔵</string>
	<key>remodelEquipment</key>
	<string>46cm三連装砲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>46cm三連装砲</string>
		<key>secondShip</key>
		<string>大和</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>46cm三連装砲</string>
		<key>secondShip</key>
		<string>大和</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>46cm三連装砲</string>
		<key>secondShip</key>
		<string>武蔵</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>46cm三連装砲</string>
		<key>secondShip</key>
		<string>武蔵</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>試製51cm連装砲</string>
		<key>secondShip</key>
		<string>大和改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>試製51cm連装砲</string>
		<key>secondShip</key>
		<string>大和改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>試製51cm連装砲</string>
		<key>secondShip</key>
		<string>武蔵改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>試製51cm連装砲</string>
		<key>secondShip</key>
		<string>武蔵改</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>90mm単装高角砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>阿賀野</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>阿賀野</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>阿賀野</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>山城</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>山城</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>15.2cm単装砲</string>
		<key>secondShip</key>
		<string>山城</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Littorio</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>OTO 152mm三連装速射砲</string>
		<key>secondShip</key>
		<string>Roma</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>61cm三連装魚雷</string>
		<key>secondShip</key>
		<string>吹雪</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>61cm三連装魚雷</string>
		<key>secondShip</key>
		<string>吹雪</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>61cm三連装魚雷</string>
		<key>secondShip</key>
		<string>吹雪</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>61cm三連装魚雷</string>
		<key>secondShip</key>
		<string>叢雲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>61cm三連装魚雷</string>
		<key>secondShip</key>
		<string>叢雲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>61cm三連装魚雷</string>
		<key>secondShip</key>
		<string>叢雲</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>61cm三連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>吹雪改二</string>
	<key>remodelEquipment</key>
	<string>61cm四連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>61cm三連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>吹雪改二</string>
	<key>remodelEquipment</key>
	<string>61cm四連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>61cm三連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>吹雪改二</string>
	<key>remodelEquipment</key>
	<string>61cm四連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>大井</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>大井</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>大井</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>大井</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>大井</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>大井</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>大井</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>北上</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>北上</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>北上</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>北上</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>北上</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>北上</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>61cm四連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>北上</string>
	<key>remodelEquipment</key>
	<string>61cm五連装(酸素)魚雷</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>61cm五連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>島風</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>61cm五連装(酸素)魚雷</string>
		<key>secondShip</key>
		<string>島風</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>九三式水中聴音機</string>
		<key>secondShip</key>
		<string>夕張</string>
	<key>remodelEquipment</key>
	<string>三式水中探信儀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>九三式水中聴音機</string>
		<key>secondShip</key>
		<string>夕張</string>
	<key>remodelEquipment</key>
	<string>三式水中探信儀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>九三式水中聴音機</string>
		<key>secondShip</key>
		<string>夕張</string>
	<key>remodelEquipment</key>
	<string>三式水中探信儀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>九三式水中聴音機</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>三式水中探信儀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>九三式水中聴音機</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>三式水中探信儀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>九三式水中聴音機</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>三式水中探信儀</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>三式水中探信儀</string>
		<key>secondShip</key>
		<string>夕張</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>三式水中探信儀</string>
		<key>secondShip</key>
		<string>夕張</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>三式水中探信儀</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>三式水中探信儀</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>三式水中探信儀</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>九四式爆雷投射機</string>
		<key>secondShip</key>
		<string></string>
	<key>remodelEquipment</key>
	<string>三式爆雷投射機</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>九四式爆雷投射機</string>
		<key>secondShip</key>
		<string></string>
	<key>remodelEquipment</key>
	<string>三式爆雷投射機</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>三式爆雷投射機</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>三式爆雷投射機</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>比叡</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>比叡</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>比叡</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>比叡</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>霧島</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>霧島</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>霧島</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>九一式徹甲弾</string>
		<key>secondShip</key>
		<string>霧島</string>
	<key>remodelEquipment</key>
	<string>一式徹甲弾</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>一式徹甲弾</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>一式徹甲弾</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>一式徹甲弾</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>一式徹甲弾</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>一式徹甲弾</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>一式徹甲弾</string>
		<key>secondShip</key>
		<string>金剛</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>25mm連装機銃</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>25mm三連装機銃</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>25mm連装機銃</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>25mm三連装機銃</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>25mm連装機銃</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>25mm三連装機銃</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>25mm三連装機銃 集中配備</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>25mm三連装機銃 集中配備</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>五十鈴改二</string>
	<key>remodelEquipment</key>
	<string>25mm三連装機銃 集中配備</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>摩耶</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>摩耶</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>摩耶</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>25mm三連装機銃</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>91式高射装置</string>
		<key>secondShip</key>
		<string>摩耶</string>
	<key>remodelEquipment</key>
	<string>94式高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>91式高射装置</string>
		<key>secondShip</key>
		<string>摩耶</string>
	<key>remodelEquipment</key>
	<string>94式高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>91式高射装置</string>
		<key>secondShip</key>
		<string>摩耶</string>
	<key>remodelEquipment</key>
	<string>94式高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>91式高射装置</string>
		<key>secondShip</key>
		<string>摩耶</string>
	<key>remodelEquipment</key>
	<string>94式高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>秋月</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>吹雪改二</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>吹雪改二</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>吹雪改二</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>吹雪改二</string>
	<key>remodelEquipment</key>
	<string>10cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	<key>remodelEquipment</key>
	<string>12.7cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	<key>remodelEquipment</key>
	<string>12.7cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	<key>remodelEquipment</key>
	<string>12.7cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>94式高射装置</string>
		<key>secondShip</key>
		<string>摩耶改二</string>
	<key>remodelEquipment</key>
	<string>12.7cm高角砲＋高射装置</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>暁</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>暁</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>暁</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>神通</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>神通</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>神通</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>青葉</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>綾波</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>綾波</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>探照灯</string>
		<key>secondShip</key>
		<string>綾波</string>
	<key>remodelEquipment</key>
	<string>熟練見張員</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>0</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>比叡</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>1</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>比叡</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>比叡</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>6</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>比叡</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>2</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>霧島</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>3</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>霧島</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>4</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>霧島</string>
	</dict>
	<dict>
		<key>weekday</key>
		<integer>5</integer>
		<key>equipment</key>
		<string>96式150cm探照灯</string>
		<key>secondShip</key>
		<string>霧島</string>
	</dict>
</array>
</plist>
