<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0</integer>
	<integer>100</integer>
	<integer>300</integer>
	<integer>600</integer>
	<integer>1000</integer>
	<integer>1500</integer>
	<integer>2100</integer>
	<integer>2800</integer>
	<integer>3600</integer>
	<integer>4500</integer>
	<integer>5500</integer>
	<integer>6600</integer>
	<integer>7800</integer>
	<integer>9100</integer>
	<integer>10500</integer>
	<integer>12000</integer>
	<integer>13600</integer>
	<integer>15300</integer>
	<integer>17100</integer>
	<integer>19000</integer>
	<integer>21000</integer>
	<integer>23100</integer>
	<integer>25300</integer>
	<integer>27600</integer>
	<integer>30000</integer>
	<integer>32500</integer>
	<integer>35100</integer>
	<integer>37800</integer>
	<integer>40600</integer>
	<integer>43500</integer>
	<integer>46500</integer>
	<integer>49600</integer>
	<integer>52800</integer>
	<integer>56100</integer>
	<integer>59500</integer>
	<integer>63000</integer>
	<integer>66600</integer>
	<integer>70300</integer>
	<integer>74100</integer>
	<integer>78000</integer>
	<integer>82000</integer>
	<integer>86100</integer>
	<integer>90300</integer>
	<integer>94600</integer>
	<integer>99000</integer>
	<integer>103500</integer>
	<integer>108100</integer>
	<integer>112800</integer>
	<integer>117600</integer>
	<integer>122500</integer>
	<integer>127500</integer>
	<integer>132700</integer>
	<integer>138100</integer>
	<integer>143700</integer>
	<integer>149500</integer>
	<integer>155500</integer>
	<integer>161700</integer>
	<integer>168100</integer>
	<integer>174700</integer>
	<integer>181500</integer>
	<integer>188500</integer>
	<integer>195800</integer>
	<integer>203400</integer>
	<integer>211300</integer>
	<integer>219500</integer>
	<integer>228000</integer>
	<integer>236800</integer>
	<integer>245900</integer>
	<integer>255300</integer>
	<integer>265000</integer>
	<integer>275000</integer>
	<integer>285400</integer>
	<integer>296200</integer>
	<integer>307400</integer>
	<integer>319000</integer>
	<integer>331000</integer>
	<integer>343400</integer>
	<integer>356200</integer>
	<integer>369400</integer>
	<integer>383000</integer>
	<integer>397000</integer>
	<integer>411500</integer>
	<integer>426500</integer>
	<integer>442000</integer>
	<integer>458000</integer>
	<integer>474500</integer>
	<integer>491500</integer>
	<integer>509000</integer>
	<integer>527000</integer>
	<integer>545500</integer>
	<integer>564500</integer>
	<integer>584500</integer>
	<integer>606500</integer>
	<integer>631500</integer>
	<integer>661500</integer>
	<integer>701500</integer>
	<integer>761500</integer>
	<integer>851500</integer>
	<integer>1000000</integer>
	<integer>0</integer>
	<integer>10000</integer>
	<integer>11000</integer>
	<integer>13000</integer>
	<integer>16000</integer>
	<integer>20000</integer>
	<integer>25000</integer>
	<integer>31000</integer>
	<integer>38000</integer>
	<integer>46000</integer>
	<integer>55000</integer>
	<integer>65000</integer>
	<integer>77000</integer>
	<integer>91000</integer>
	<integer>107000</integer>
	<integer>125000</integer>
	<integer>145000</integer>
	<integer>168000</integer>
	<integer>194000</integer>
	<integer>223000</integer>
	<integer>255000</integer>
	<integer>290000</integer>
	<integer>329000</integer>
	<integer>372000</integer>
	<integer>419000</integer>
	<integer>470000</integer>
	<integer>525000</integer>
	<integer>584000</integer>
	<integer>647000</integer>
	<integer>714000</integer>
	<integer>785000</integer>
	<integer>860000</integer>
	<integer>940000</integer>
	<integer>1025000</integer>
	<integer>1115000</integer>
	<integer>1210000</integer>
	<integer>1310000</integer>
	<integer>1415000</integer>
	<integer>1525000</integer>
	<integer>1640000</integer>
	<integer>1760000</integer>
	<integer>1887000</integer>
	<integer>2021000</integer>
	<integer>2162000</integer>
	<integer>2310000</integer>
	<integer>2465000</integer>
	<integer>2628000</integer>
	<integer>2799000</integer>
	<integer>2978000</integer>
	<integer>3165000</integer>
	<integer>3360000</integer>
	<integer>3564000</integer>
	<integer>3777000</integer>
	<integer>3999000</integer>
	<integer>4230000</integer>
	<integer>4470000</integer>
	<integer>4720000</integer>
	<integer>4780000</integer>
	<integer>4860000</integer>
	<integer>4970000</integer>
	<integer>5120000</integer>
	<integer>5320000</integer>
	<integer>5580000</integer>
	<integer>5910000</integer>
	<integer>6320000</integer>
	<integer>6820000</integer>
</array>
</plist>
